@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Prompt:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', 'Lato', 'Prompt', sans-serif;
  margin: 0%;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Lato','Prompt', sans-serif;
}